# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Rémy Gardette
author: Rémy Gardette
nickname: Rémy
tagline: Software Engineer specialized in Java development
email: contact@remyg.fr
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://remyg.fr" # the base hostname & protocol for your site, e.g. http://example.com

social:
  github:
    baseurl: https://github.com/
    username: remyg
  linkedin:
    baseurl: https://www.linkedin.com/in/
    username: remygardette
  mastobike:
    baseurl: https://masto.bike/
    username: "@remygardette"
    handle: "@remygardette@masto.bike"

cdn_url: "https://d1u9a15udaub9r.cloudfront.net"

# Build settings
# Dependencies
markdown:         kramdown
highlighter:      rouge
theme: jekyll-theme-hydeout

show_drafts: false

comments:
  enabled: false

disqus:
  shortname: blog-remyg

pagination:
  enabled: true
  debug: true
  collection: 'posts'
  per_page: 5
  sort_reverse: true


plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate-v2
  - jekyll-sitemap

sidebar_home_link:  true
sidebar_link: true

excerpt_separator: <!--more-->

include: ["_pages","blog"]
permalink: /blog/:year/:month/:day/:title/

version: 0.1

github:
  user: RemyG
  repo_count: 5
  show_profile_link: true

compress_html:
  clippings: []
  comments: []
  endings: []
  ignore:
    envs: []
  blanklines: true
  profile: false
  startings: []

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - public/


port: 4000
host: 127.0.0.1
