#author-picture {
  border-radius: 50%;
  filter: grayscale(0.5);
}

@media (min-width: $medium-breakpoint) {
  #author-picture {
    max-width: 15rem;
  }
}

.wallet-address {
  text-align: center;
}

.btn {
  height: 35px;
  margin-right: 30px;
  padding: 7px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFFFFF;
  text-align: center;
  border-radius: 1px;
}

.btn-support {
  background: #FF9500;
  color: #fff;
}

.btn-paypal {
  background: #0070ba;
  color: #fff;
  margin: 20px 0;
  display: inline-block;
}

.post-body footer {
  padding: 30px 0;
}
