<!-- Optional additional links to insert for icons links -->

<a id="github-link"
    target="_blank"
    class="icon"
    title="Github"
    href="{{ site.social.github.baseurl }}{{ site.social.github.username }}">
    <i class="fab fa-github"></i></a>

<a id="twitter-link"
    target="_blank"
    class="icon"
    title="Twitter"
    href="{{ site.social.twitter.baseurl }}{{ site.social.twitter.username }}">
    <i class="fab fa-twitter"></i></a>

<a id="linkedin-link"
    target="_blank"
    class="icon"
    title="Linkedin"
    href="{{ site.social.linkedin.baseurl }}{{ site.social.linkedin.username }}">
    <i class="fab fa-linkedin"></i></a>

<a id="stackoverflow-link"
    target="_blank"
    class="icon"
    title="StackOverflow"
    href="{{ site.social.stackoverflow.baseurl }}{{ site.social.stackoverflow.username }}">
    <i class="fab fa-stack-overflow"></i></a>
