<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img src="{{ site.cdn_url }}/profile-cropped.jpg" id="author-picture" alt="Author picture" />
        <div class="site-name">{{ site.title }}</div>
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <div class="tagline">
      <ul>
        <li>Software Engineer</li>
        <li>Enthusiast</li>
        <li>Tinkerer</li>
      </ul>
    </div>
  </header>
  {% include rg-sidebar-nav-links.html %}
  {% include rg-social-icons.html %}
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
