---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Rémy Gardette | Software Developer</title>

	<link rel="icon" href="favicon.ico" type="image/png" />

	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/home.css">
</head>
<body>
	<main>
		<div class="intro">Hello, I'm Rémy!</div>
    <div class="tagline">Software Developer | Enthusiast | Tinkerer</div>
    {% include rg-sidebar-nav-links.html %}
		<!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
		<div class="icons-social">
      {% include rg-social-icons.html %}
    </div>
	</main>
</body>
</html>
