---
layout: rg-default
class: default
---

<article class="h-entry">
  <header>
    <h1 class="post-title p-name">{{ page.title }}</h1>
  </header>

  <div class="content">
    {% include rg-post-meta.html post=page %}

    {% if page.deprecated %}
      {% include deprecated.html %}
    {% endif %}
    <div class="post-body e-content">
      {{ content }}
      {% include post-tags.html post=page %}
      {% include rg-react-footer.html %}
    </div>

    {% if site.comments.enabled %}
      {% include comments.html %}
    {% endif %}
    {% include related_posts.html %}
  </div>
</article>